<div class="page">
<h1>#HaltTheSilence By Joining Us!  </h1>

<h3>We have one goal at #HaltTheSilence: To change how media discusses and portrays LGBTQ+ characters and themes. And we need help — your help! </h3>

<h3>We’re looking for content creators of all kinds to join us. Want to discuss LGBTQ+ tropes and media and why they need to stop? Maybe you just want to discuss your favorite LBGTQ+ characters. If so, we want to see it! We’d love to showcase your work on our upcoming blog and share it with our followers.</h3>

<h3>Don’t forget to tag or @ us on social media via #HaltTheSilence if you have something you want to promote or have news to share. We’re also interested in promoting and sharing campaigns that are working on or showcasing LGBTQ+ media. </h3>

<h1>Join Our Team</h1>

<h3>We’re also looking for help in the following roles:</h3>

<ul class="a_list">
  <li>Writer</li>
  <li>Artist</li>
  <li>Art designer</li>
  <li>UX designer</li>
  <li>Video Editor</li>
</ul>


<h1>Contact Us</h1>

<h3>If interested, please email us at info@haltthesilence.com with your information (name, social media handles, what you’re interested in producing). </h3>

<h3>Disclaimer: #HaltTheSilence was created by fans, for fans. At this time, we cannot offer monetary compensation for your work, only our eternal gratitude. Thank you.</h3>
</div>
