<div class="front-page">
  <div class="text_block">
        <div style="display: block;" id="english">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/SzWextLjK9k" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
  </div>
  <h4>More info coming soon</h4>
</div>

<script type="text/javascript">
  function myFunction() {
    var e = document.getElementById("english");
    var s = document.getElementById("spanish");
    if (e.style.display === "block" && s.style.display === "none") {
      e.style.display = "none";
      s.style.display = "block"
    } else {
      s.style.display = "none";
      e.style.display = "block"
    }
  }
</script>
