<% if current_user.admin? %>
  <div class='page'>
    <h1 class="form_header">Add a new Tag</h1>
    <%= form_for @tag do |t| %>
      <div class="row">
        <%= t.label :tag, 'Tag', class: 'form-actions' %>
        <%= t.text_field :body, class: 'text_area' %>
      </div>
      <div class="form-actions">
        <%= t.button 'Submit' %>
      </div>
    <% end %>
  </div>
<% end %>
