@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Open+Sans&display=swap');

.header-picture{
  height: 250px;
  margin-left: 20%;
  background-color: #ACACAC;
}

.blue {
  background: linear-gradient(to bottom, #3c526d 75%, #d10568 100%);
  text-align: center;
  height: 40px;
  padding-top: 15px;
}

.purple {
  margin: auto;
  padding: 10px;
  background: linear-gradient(to top, #572561 75%, #d10568 100%);
  text-align: center;
  height: 40px;
}

body {
  background-color: #F7F7F7;
  color: #363A3E;
}

.front-page {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

a:link {
  color: #AFB0B2;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #AFB0B2;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #42B681;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #AFB0B2;
  background-color: transparent;
  text-decoration: underline;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 2px solid #AFB0B2;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
}

iframe {
  margin-left: 24%;
  margin-right: 25%;
}

.lang_button {
  background-color: #572561;
  color: #AFB0B2;
  text-decoration: none;
  padding: 15px 32px;
  text-align: center;
  font-size: 14px;
  border: none;
}

.text_block {
  width: 560px;
  text-align: left;
  margin-left: 28%;
  margin-right: 25%;
}

.text_block h2 {
  text-align: center;``
}

.text_block_one {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #DCDFE5;
  padding: 20px;
  height: auto;
}

.picture {
  width: 560px;
}
