@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Open+Sans&display=swap');

body {
  background-color: #F7F7F7;
  color: #363A3E;
}

.nav_back {
  background: linear-gradient(to bottom, #3c526d 19%, #d10568 92%);
}

.a_list {
  list-style-type: none;
}
/* Multi-Page */

.page {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.head_text {
  text-align: center;
  background-color: #572561;
}

.blog_picture {
  max-height: 500px;
  max-width: 500px;
  border: 1px solid #3c526d;
  margin-left: 25%;
}

.centered {
  margin-left: 25%;
}


/* Posts Pages */

.guest {
  color: #d10568;
}

.other {
  color: #3c526d;
}

.us {
  color: #572561;
}


/* Header */

.header-picture{
  background-color: #ACACAC;
}

.blue {
  background: linear-gradient(to bottom, #3c526d 75%, #d10568 100%);
  text-align: center;
  height: 60px;
  padding-top: 15px;
}

.purple {
  background: linear-gradient(to top, #572561 26%, #d10568 72%);
  height: 10px;
}

/* Footer */

.credit {
  font-size: 10px;
}

/* Style the active link (or home/logo) */
.active {
  background-color: none;
  color: white;
}

.blue a:link {
  color: #AFB0B2;
  background-color: transparent;
  text-decoration: none;
}

.blue a:visited {
  color: #AFB0B2;
  background-color: transparent;
  text-decoration: none;
}

.blue a:hover {
  color: #42B681;
  background-color: transparent;
  text-decoration: underline;
}

.blue a:active {
  color: #AFB0B2;
  background-color: transparent;
  text-decoration: underline;
}

/* New and Edit Pages */

.form_header {
  font-size: 40px;
}

.text_field {
  font-size: 15px;
  height: 25px;
}

.form-actions {
  padding-left: 25px;
  color: inherit;
}

.text_area {
  font-size: 15px;
  height: 300px;
  width: 500px;
}

.row {
  margin-bottom: 10px;
}
